@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Exo|Roboto:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald&display=swap');
@import url("https://fonts.googleapis.com/css?family=Kavivanar");

/*-----------------------------------------------------------
     Section-background-color & sectino-heading & Space margins and padding
-------------------------------------------------------------------*/
body {
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	line-height: 28px;
	overflow-x: hidden;
	font-weight: 400;
	color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000000;
	margin: 0 auto 20px;
	font-family: 'Oswald', cursive;
	font-weight: 400;
	text-transform: capitalize;
}
.white_text,
.white_text p,
.white_text h1,
.white_text h2,
.white_text h3,
.white_text h4,
.white_text h5,
.white_text h6 {
	color: #fff;
}

p {
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 25px;
	font-family: 'Lato', sans-serif;
}
a {
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	text-decoration: none;
	color: #25283a;
}
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #3dc88f;
}
ul,
ol {
	margin: 0 0 20px;
}
ul li,
ol li {
	margin: 0 0 10px;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.background-image-intro{
    background-image: url(/assets/images/slide02.jpg);
}
.white_text,
.white_text p,
.white_text h1,
.white_text h2,
.white_text h3,
.white_text h4,
.white_text h5,
.white_text h6 {
	color: #fff;
}
.section-padding {
	padding: 70px 0;
}
.section-header {
	margin: 0 auto;
	max-width: 520px;
	padding-bottom: 30px;
}
.section-header h2 {
	margin: 0 auto 36px;
	font-size: 36px;
}
.section-header p {
	color: black;
}
.section_bg{
	background-color: #f7f6f6;
}
.pastor-about-area p{
    color: black;
}
.pastor-about-area .designation {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	color: #3dc88f;
}
.pastor-about-area .designation:after {
	content: '';
	position: absolute;
	height: 3px;
	width: 15px;
	left: 0;
	background: #3dc88f;
	bottom: -8px;
}
.pastor-social ul {
	margin: 0 auto;
	display: inline-block;
	padding-left: 0;
}
.pastor-social li {
	list-style: none;
	float: left;
	margin: 0 15px 10px 0;
}
.pastor-social li a i {
	height: 35px;
	width: 35px;
	line-height: 33px;
	border: 1px solid #e7eaee;
	border-radius: 50px;
	transition: 0.3s;
	color: #8090a3;
}
.pastor-social li i:hover {
	color: #fff;
	background: #3dc88f;
	border: 1px solid #25283a;
}



/*-----------------------------------------------------------
     /Section-background-color & sectino-heading & Space margins and padding 
-------------------------------------------------------------------*/



/*================
	  Header
===========================*/

#header {
	left: 0;
	right: 0;
	position: relative;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	z-index: 22;
}
#header.nav-stacked {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
#header.sticky {
	position: fixed;
	top: 0;
}
#header.sticky .header_top {
	display: none;
}
.collapse.navbar-collapse {
	width: auto;
	flex-basis: auto;
	text-align: right;
	flex-grow: inherit;
}
.header_top {
	padding: 10px 0;
	display: table;
	width: 100%;
	border-bottom: rgba(255, 255, 255, 0.12) solid 1px;
}
.follow_us ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: left;
}
.follow_us ul li:first-child{
	margin:0px;
}
.follow_us .left-links{
	text-align: right;
}
.follow_us ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 0 0px 22px;
}
.follow_us ul li a {
	color: #ffffff;
	font-size: 15px;
	padding: 7px 2px;
	display: block;
}
.follow_us ul li a:hover {
	color: #3dc88f;
}
.btn {
	background: #3DC88F;
	border: medium none;
	border-radius: 0px;
	color: #f7f6f4;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
	height: auto;
	margin: auto;
	letter-spacing: 0.5px;
	padding: 12px 32px;
	transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
}
.dark-btn {
	background: rgb(66, 82, 93);
	color: #fff;
}
.dark-btn:hover {
	background: rgb(37, 40, 58);
}
.btn:hover,
.btn:focus {
	color: #ffffff;
	outline: none;
	background: #25283a;
	box-shadow: none;
}
.btn.btn-sm {
	font-size: 14px;
	padding: 5px 20px;
}
.sticky .navbar-nav li a{
    color: black;
}
.sticky {
	-webkit-animation-name: fadeHeaderInDown;
	-moz-animation-name: fadeHeaderInDown;
	-o-animation-name: fadeHeaderInDown;
	animation-name: fadeHeaderInDown;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 22;
	background: #fafafa;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.navbar-nav {
	display: block;
}
.navbar-nav li {
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}
.navbar-nav li a {
	display: block;
	color: #fafafa;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	padding: 13px 15px;
	margin: 0 auto;
}
.navbar-nav .btn {
	font-size: 700px;
	padding: 13px 32px;
}
.navbar-nav .btn:hover {
	color: #fff;
}
.nz-logo {
	padding: 0;
	max-width: 185px;
}
.logo {
	float: left;
}
.mobile-menu ul.sub-menu {
	background: #010d21 none repeat scroll 0 0;
}
.margin-btm-60 {
	margin-bottom: 60px;
	clear: both;
}


/*-----------------
	active class and Button
-------------------------*/
.active a span {
    color:  #3DC88F;
    font-size: 18px;
    font-weight: 900;
}
.active_mobile a span{
    font-size: 26px;
    color: #3DC88F;
    
}
.btn-link {
	font-weight: 800;
	font-size: 15px;
	color: #3dc88f;
}
.nz-btn-link:hover {
	color: #4e663b;
}

.btn-link:hover {
    color: #25283a;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}


/*================
	  Header End
===========================*/

/*================
	 Intro(index,events,locations,pastor,about us,contact us)
===========================*/
#intro {
	position: relative;
}
#intro .item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 900px;
}
.intro_text {
	text-align: center;
	margin: 0 auto 30px;
	max-width: 800px;
	padding: 300px 0;
	position: relative;
	z-index: 2;
}
.intro_text h1 {
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 26px;
}
.intro_text p {
	font-size: 18px;
	margin: 0 auto 40px;
	max-width: 70%;
	line-height: 26px;
}

.intro-area {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 500px;
}
.intro-area::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.32);
    content: '';
    position: absolute;
    z-index: -5;
}
.bg-img-events {
  background-image: url(/assets/images/events.jpg); 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-locations {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)),url(/assets/images/location.jpg); 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-img-pastor {
  background: linear-gradient(rgba(221, 164, 164, 0.5), rgba(0, 0, 0, .5)),url(/assets/images/pastor.jpg); 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-img-about {
  background: linear-gradient(rgba(221, 164, 164, 0.5), rgba(0, 0, 0, .5)),url(/assets/images/about.jpg); 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-img-contact {
  background: linear-gradient(rgba(221, 164, 164, 0.4), rgba(0, 0, 0, .4)),url(/assets/images/contact.jpg); 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_padding_top_50 > [class*="container"] {
	padding-top: 50px;
}
.section_padding_bottom_50 > [class*="container"] {
	padding-bottom: 50px;
}
.section-bg-location{
background-color: #f7f6f6;
}
.with_border {
    border-radius: 2px;
    border: 1px solid #e1e1e1;
}
.with_padding_small {
    padding: 30px 35px;
}
.icon-left{
    padding-right: 20px;
    display: table-cell;
    vertical-align: top;
}
.list1.no-bullets li {
	padding-left: 0;
}
.list1.no-bullets li:before {
	display: none;
}
.list1 li {
    position: relative;
    padding: 9px 0 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list1.no-top-border li:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}
.list1 li {
    position: relative;
    padding: 9px 0 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list1.no-bottom-border li:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.list1 li > .media {
    margin: 4px 0 1px;
}
.about_church p,h4{
    color: black;
}
.avatar {
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.social-link {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #666;
	border-radius: 50%;
	transition: all 0.3s;
	font-size: 0.9rem;
}
.social-link:hover,
.social-link:focus {
	background: #3dc88f;
	text-decoration: none;
	color: rgb(255, 255, 255);
}





/*==============
	  News
====================*/
.news_info {
	margin: 0 35px;
	background: #fff;
	position: relative;
	z-index: 1;
	padding: 32px 25px;
	border-top: rgb(115, 90, 124) solid 5px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 20px;
	text-align: center;
}
.news_info p{
    color: black;
}

.news_info h5 a:hover {
	color: #3DC88F;
}
.post_date {
	margin-bottom: 10px;
}
.post_date a {
	text-transform: capitalize;
	color: #3dc88f;
}
.post_date a:hover{
	color: #25283a;
}
.intro-area .intro-text h3 {
    font-size: 22px;
    color: #ffffff; 
    }
.intro-area .intro-text h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffffff; 
    }
.intro-area .intro-text p {
    color: #ffffff;
    margin-bottom: 0; 
   }






/*================
	 Intro(index,events,locations,pastor,about us,contact us) End
===========================*/

/*==============
	 events
======================*/

.event_wrap {
	margin: 0 auto 50px;
	overflow: hidden;
}
.event_date {
	float: left;
	width: 11%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background: #25283a;
	color: #fff;
	padding: 33px 5px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
.event_date span {
	color: #3dc88f;
	display: block;
	font-size: 40px;
	margin: 0 auto 12px;
}
.event_img {
	float: left;
	width: 37%;
	margin-left: 2.7%;
}
.event_info {
	float: right;
	width: 47.4%;
}

.event_info p {
	margin: 0 auto 20px;
    color: black;
}
.event_info h4 {
	margin: 10px auto 20px;
}
.event_info ul {
	padding: 0;
	margin: 0 auto 22px;
	list-style: none;
}
.event_info ul li {
	margin: 0 auto 6px;
}
.event_info ul li i {
	color:	#3dc88f;
	margin-right: 8px;
}

/*================
	  Footer
===========================*/
.footer_bottom {
	padding: 36px 0;
	border-top: #ebebeb solid 1px;
	background: #fafafa;
}
.footer_bottom p {
	margin: 0 auto;
    color: black;
    font-size: 15px;
	font-weight: 200;
}

#back-top {
	text-align: center;
}
#back-top a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 0px;
	text-align: center;
	line-height: 34px;
	border: #25283a solid 1px;
	color: #fff;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	font-size: 22px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
	background:#42525d;
}
#back-top a:hover {
	background: rgb(37, 40, 58);
	color: #fff;
}
.bg-footer_widget{
    background-color: #42525d;
}
.bg-footer_widget h5,p{
    color: #fafafa;
}
.footer_widget a{
    color: #fafafa;
}
.footer_widget p a:hover {
	color: #3dc88f;
}
.footer_widget {
	margin: 60px auto;
	padding-bottom: 40px;
}
.footer_widget h5 {
	margin: 0 auto 35px;
}
.footer_widget p {
	margin: 0 auto 5px;
}
.footer_widget p a {
	color: #fafafa;
}
.footer_widget:last-child {
	border: 0;
}
.footer_widget:first-child .widget_inner {
	padding-left: 0;
}
.footer_widget ul {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
	position: relative;
}
.v-line {
  border-right: 0.5px solid #fafafa;
  height: 200px;
}
.widget_inner {
	padding: 0 20px;
}
.margin-padding-footer-contact-10{
    margin-right: 10px;
    padding-bottom: 10px;
}



/*======================
	Responsive-CSS
=============================*/
@media (min-width: 991px) and (max-width: 1200px) {

.event_date {
	padding: 22px 5px;
}
.event_info {
	padding: 15px 15px 15px 126px;
}
.event_info h4 {
	margin: 0px auto 14px;
}




}

/*----------------->  Mobile & tablet  <---------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {

    .header_top p.address {
		display: none;
	}
	.follow_us ul li {
		margin: 0px 0px 0px 18px;
	}
    .section-padding {
		padding: 100px 0;
	}
    .intro_text {
		padding: 150px 0;
		margin: 0 auto;
	}
	.intro_text h1 {
		font-size: 55px;
	}
	.navbar-nav li a {
		font-size: 13px;
		padding: 13px 4px;
	}
    .navbar-nav .btn {
		padding: 10px 10px;
	}
    .section-header h2 {
		margin: 0 auto 20px;
		font-size: 28px;
	}
    .news_wrap{
		margin-bottom: 30px;
	}
    .news_info {
		margin: 0 15px;
		padding: 20px 15px;
	}
    .footer_bottom p {
		font-size: 14px;
		line-height: 20px;
	}
 	.footer_widget {
		padding-bottom: 60px;
	}
    .widget_inner {
		padding: 0;
	}
    .widget_inner p,
	.widget_inner a,
	.footer_links a,
	.footer_bottom p {
		font-size: 14px;
		line-height: 20px;
	}
    .event_date {
		width: 82px;
	}
    .event_date {
		padding: 15px 5px;
	}
    .event_info ul li {
		font-size: 13px;
		line-height: 23px;
	}
    .event_info {
		padding: 25px 25px 25px 100px;
	}
    .event_info h4 {
		margin: 0px auto 14px;
		font-size: 22px;
	}
    .intro-area .intro-text h3 {
       font-size: 22px;
       margin-top: 60px;
    }
    .event_wrap .event_date span {
		display: inline;
		font-size: 20px;
		margin: 0 auto;
	}
    .event_info {
	   padding: 1px 1px 1px 40px;

    }




}

@media (max-width: 767px) {
    .btn {
		font-size: 13px;
		line-height: 25px;
		padding: 10px 15px;
	}
    #nav-toggle,
	#nav-toggle-label {
		display: block;
	}
	.header_top p.address {
		display: none;
	}
    .header_top {
		padding: 4px 0;
	}
    .follow_us ul li {
		margin: 0px 0 0px 10px;
	}
    .navbar ul li ul.sub-menu li a {
		padding: 4px 17px;
		font-size: 13px;
	}
	.navbar ul li ul.sub-menu li a {
		font-size: 13px;
	}
    #menu_slide {
		display: block;
		float: right;
		background: none;
		border: 0;
		width: 32px;
		margin: 19px auto;
		cursor: pointer;
		padding: 0;
	}
    .navbar-collapse {
		width: 100% !important;
		text-align: left !important;
		background: #fff;
	}
    /*  Mobile Hamburger */
	#nav-toggle-label * {
		transition: 0.25s ease-in-out;
	}
    #nav-toggle {
		position: fixed;
		top: 0;
		right: 0;
		-webkit-opacity: 0;
		-ms-opacity: 0;
		opacity: 0;
	}
    #nav-toggle-label {
		height: 28px;
		width: 28px;
		position: relative;
		z-index: 9999;
		right: 0;
		top: 0;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		cursor: pointer;
		transition: 0.25s ease-in-out;
		margin: 0;
	}
    .mobile-open #nav-toggle-label,
	.mobile-open #nav-toggle-label.slide-out {
		background: transparent;
		right: 0;
	}
    .mobile-open #nav-toggle-label {
		right: 30px;
		position: absolute;
		top: auto;
	}
    #nav-toggle-label #hamburger {
		position: relative;
		height: auto;
		width: 100%;
		top: 6px;
		right: 0;
	}
    #nav-toggle-label #hamburger span {
		display: block;
		width: 100%;
		height: 2px;
		position: relative;
		margin: 0 0 8px 0;
		background: rgb(152, 218, 91);
	}
        #nav-toggle-label #cross {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
    #nav-toggle-label #cross span {
		display: block;
		background: rgb(152, 218, 91);
	}
    #nav-toggle-label #cross span:nth-child(1) {
		height: 0%;
		width: 2px;
		position: absolute;
		top: 10;
		right: 50%;
		margin-left: -1px;
		transition-delay: 0s;
	}
    	#nav-toggle-label #cross span:nth-child(2) {
		width: 0%;
		height: 2px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -1px;
		transition-delay: 0.25s;
	}
    #nav-toggle-label #hamburger span:nth-child(1) {
		transition-delay: 0.5s;
	}
	#nav-toggle-label #hamburger span:nth-child(2) {
		
		transition-delay: 0.625s;
	}
	#nav-toggle-label #hamburger span:nth-child(3) {
		transition-delay: 0.75s;
		margin: 0;
	}
	.mobile-open #nav-toggle-label #hamburger span,
	.mobile-open #nav-toggle-label.slide-out #hamburger span {
		width: 0%;
	}
	.mobile-open #nav-toggle-label #hamburger span:nth-child(1),
	.mobile-open #nav-toggle-label.slide-out #hamburger span:nth-child(1) {
		transition-delay: 0s;
	}
	.mobile-open #nav-toggle-label #hamburger span:nth-child(2),
	.mobile-open #nav-toggle-label.slide-out #hamburger span:nth-child(2) {
		transition-delay: 0.125s;
	}
	.mobile-open #nav-toggle-label #hamburger span:nth-child(3),
	.mobile-open #nav-toggle-label.slide-out #hamburger span:nth-child(3) {
		transition-delay: 0.25s;
	}
    #nav-toggle-label #cross {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
    	#nav-toggle-label #cross span {
		display: block;
		background: rgb(152, 218, 91);
	}
	#nav-toggle-label #cross span:nth-child(1) {
		height: 0%;
		width: 2px;
		position: absolute;
		top: 10;
		right: 50%;
		margin-left: -1px;
		transition-delay: 0s;
	}
	#nav-toggle-label #cross span:nth-child(2) {
		width: 0%;
		height: 2px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -1px;
		transition-delay: 0.25s;
	}
	.mobile-open #nav-toggle-label #cross span:nth-child(1),
	.mobile-open #nav-toggle-label.slide-out #cross span:nth-child(1) {
		height: 100%;
		transition-delay: 0.625s;
	}
	.mobile-open #nav-toggle-label #cross span:nth-child(2),
	.mobile-open #nav-toggle-label.slide-out #cross span:nth-child(2) {
		width: 100%;
		transition-delay: 0.375s;
	}


    .wd-menu>li.has-child>a:after,
	li.has-child>a:after,
	.shop .widget-title[data-toggle="collapse"]:after {
		display: none;
	}
    /*  Mobile Child Toggle Buttons */
    .mobile-open .mobile-menu {
		display: block;
	}
    .mobile-menu .wd-menu .sub-menu .child-trigger {
		height: 50px;
	}
    .mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
		background: rgb(57, 63, 90);
		padding: 100px 0 0;
		z-index: 99;
		overflow: hidden;
		display: none;
	}
    body.mobile-open {
		overflow: hidden;
	}
    .mobile-menu .wd-menu {
		display: block;
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		overflow-y: auto;
	}
    	.mobile-menu .wd-menu li a {
		display: block;
		padding: 0 30px;
		line-height: 50px;
		font-weight: 600;
		color: #fff;
	}
	.mobile-menu .wd-menu>li>a {
		line-height: 60px;
		font-weight: 700;
	}
	.mobile-menu .wd-menu>li>a:after {
		display: none;
	}
	.mobile-menu .wd-menu>li {
		padding: 0;
		margin: 0;
	}
	.mobile-menu .wd-menu .sub-menu li {
		margin: 0;
	}
	.mobile-menu .wd-menu .sub-menu .sub-menu>li>a {
		font-weight: 500;
	}
    .mobile-menu .wd-menu li a {
		display: block;
		padding: 0 30px;
		line-height: 50px;
		font-weight: 600;
		color: #fff;
	}
    .wd-menu li.has-child {
		position: relative;
	}

    /* End Mobile Child Toggle Buttons */
    .intro_text {
		margin: 0 auto;
		padding: 200px 0 60px;
	}
	.intro_text h1 {
		font-size: 38px;
		line-height: 48px;
	}
	.intro_text p {
		font-size: 15px;
		margin: 0 auto 30px;
		max-width: 80%;
		line-height: 24px;
	}
    .navbar-header {
		display: block;
		width: 100%;
	}
	.navbar-collapse {
		width: 100% !important;
		text-align: left !important;
		background: #fff;
	}
    	.navbar-nav ul {
		background: #fff;
	}
	.navbar-nav li {
		display: block;
	}
	.navbar-nav li a {
		color: #333;
		padding: 6px 15px;
		border-bottom: rgba(0, 0, 0, 0.15) solid 1px;
	}
	.navbar-nav .btn {
		color: #fff;
	}
    .section-padding {
		padding: 70px 0;
	}
    #inner_intro.section-padding {
		padding: 60px 0;
		text-align: center;
	}
    .section-header h2 {
		margin: 0 auto 20px;
		font-size: 28px;
	}
    .news_wrap {
		margin: 0 auto 40px;
	}
    .news_info {
		margin: 0 12px;
		padding: 15px;
	}
    #back-top {
		display: none !important;
	}
    .footer_bottom {
		padding: 15px 0;
		text-align: center;
	}
    .footer_widget {
		margin: 40px auto 0;
		padding-bottom: 30px;
		border-bottom: #fafafa solid 1px;
		border-right: 0;
	}
    .footer_widget h5 {
		margin: 0 auto 5px;
	}
    .footer_widget  h4 {
        color: #fafafa;
    }
    .widget_inner {
		padding: 0;
	}
   .bg-img-events {
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center;
   }
    .bg-img-locations {
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center;
   }
    .intro-text{
        margin: 0 auto;
	    padding: 230px 0 60px;
    }
    .event_wrap {
		margin: 0 auto 60px;
	}
    .event_wrap {
		margin: 0 auto 60px;
	}
	.event_wrap .event_img {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.event_wrap .event_info {
		float: none;
		width: 100%;
		padding-top: 10px;
	}
	.event_wrap .event_info ul li {
		font-size: 15px;
	}
	.event_wrap .event_date {
		float: none;
		width: 100%;
		text-align: left;
		padding: 1px 13px;
		font-size: 15px;
		display: inline-block;
		margin: 0 auto;
	}
	.event_wrap .event_date span {
		display: inline;
		font-size: 15px;
		margin: 0 auto;
	}
    .bg-img-locations {
       background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)),url(/assets/images/location.jpg); 
       background-size: cover;
    }
    

}
@media (min-width: 768px) {
	.collapse.navbar-collapse {
		display: block;
	}

    .navbar-nav li a:hover,
    .navbar-nav li a.active {
	color: #3dc88f;
}
	.mobile-menu {
		display: none;
		opacity: 0;
		visibility: hidden;
	}

}
/*======================
	Responsive-CSS End
=============================*/